h1{
    text-align: center;
    font-family: Monaco;
    color:  rgb(80, 131, 129);

}
body {
    background-color: antiquewhite;
}
textarea{
    resize: none;
}

.parent{
    margin: auto;
    width: 70%;
    border: 3px solid green;
    padding: 20px;
    margin-top: 50px;
    position: relative;
}
.content{
    display: flex;
    justify-content: space-between;
    max-width: 900px;

    /* margin: 0 auto; */
    /* background: #A0C5E8; */
    /* padding: 10px 0; */
}

#chatDashboard{
    border: 2px solid #22784a;
    background-color: rgb(193, 201, 200);
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
}

.labelClass, p{
    font-family: Monaco;
    color:  rgb(80, 131, 129);
}



